:root{

    /* Paleta */
    --eye:#979176;
    --pink:#ff4f81;

    --bg1:#0F1117;
    --bg2:#1A1F2B;

    --card:#202738;

    --text:#ffffff;

}

body{

    margin:0;

    background:linear-gradient(
        135deg,
        var(--bg1),
        var(--bg2),
        #10141f
    );

    color:var(--text);

    display:flex;
    justify-content:center;
    align-items:center;

    height:100vh;

    font-family:Arial, Helvetica, sans-serif;

}

.container{

    width:90%;
    max-width:450px;

    text-align:center;

    background:rgba(32,39,56,.95);

    padding:35px;

    border-radius:25px;

    border:2px solid var(--eye);

    box-shadow:
        0 0 30px rgba(151,145,118,.30),
        0 0 60px rgba(255,79,129,.12);

    backdrop-filter:blur(12px);

    animation:aparecer .8s ease;

}

h1{

    color:var(--pink);

    text-shadow:
        0 0 10px rgba(255,79,129,.5);

}

.texto{

    color:#d9d9d9;

    line-height:1.7;

}

button{

    margin-top:25px;

    padding:18px;

    width:100%;

    font-size:18px;

    font-weight:bold;

    border:none;

    border-radius:14px;

    cursor:pointer;

    background:linear-gradient(
        45deg,
        var(--pink),
        #ff6da0
    );

    color:white;

    transition:.35s;

}

button:hover{

    transform:scale(1.04);

    box-shadow:
        0 0 20px var(--pink);

}

button:active{

    transform:scale(.98);

}

#resposta{

    margin-top:30px;

    font-size:18px;

    line-height:1.8;

    padding:20px;

    border-left:5px solid var(--eye);

    background:rgba(255,255,255,.04);

    border-radius:10px;

    animation:fade .5s ease;

}

@keyframes aparecer{

    from{

        opacity:0;

        transform:translateY(30px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(10px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}